<ion-header>
  <ion-navbar>
    <ion-title>Trafiksäker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Trafiksäker varnar dig när du närmar dig ett område med
  där det skett många trafikolyckor. Börja med att kontrollera
  så att du har rätt ljudvolym på din mobil.</p>
  <button ion-button block color="secondary" (click)="playSound()">
     Testa ljudvolymen
  </button>

  <div>&nbsp;</div>
  <p>Appen körs i bakgrunden och varnar när det behövs. Redo att starta?</p>
  <button *ngIf="this.active == false " ion-button full color="primary" (click)="start()"  >
    Starta
  </button>
  <button *ngIf="this.active == true" ion-button full color="primary" (click)="stop()">
    Stoppa
  </button>

  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <p>Din position:</p>
  <h3>Latitude: {{locationTracker.lat}}</h3>
  <h3>Longitude: {{locationTracker.lng}}</h3>
</ion-content>
