<ion-header>
  <ion-navbar>
    <ion-title>Trafiksäker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Latitude: {{locationTracker.lat}}</h3>
  <h3>Longitude: {{locationTracker.lng}}</h3>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <button *ngIf="this.active == false " ion-button full primary (click)="start()"  >
    Starta
  </button>
  <button *ngIf="this.active == true" ion-button full primary (click)="stop()">
    Stoppa
  </button>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <p>Tryck på starta för att sätta igång appen. Den körs i bakgrunden och varnar vid en olycksdrabbad sträcka. </p>
  <button ion-button block (click)="playSound()">
     Spela ljud
  </button>
</ion-content>
